In [2]:
#Модуль 8 уровень 1
import sqlite3

# Подключение к базе данных (если ее нет, она будет создана)
conn = sqlite3.connect('students_courses.db')

# Создание таблицы Students
conn.execute('''CREATE TABLE IF NOT EXISTS Students (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                name TEXT NOT NULL,
                surname TEXT NOT NULL,
                age INTEGER NOT NULL,
                city TEXT NOT NULL
            );''')

# Создание таблицы Courses
conn.execute('''CREATE TABLE IF NOT EXISTS Courses (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                name TEXT NOT NULL,
                time_start TEXT NOT NULL,
                time_end TEXT NOT NULL
            );''')

# Создание таблицы Student_courses
conn.execute('''CREATE TABLE IF NOT EXISTS Student_courses (
                student_id INTEGER NOT NULL,
                course_id INTEGER NOT NULL,
                FOREIGN KEY (student_id) REFERENCES Students(id),
                FOREIGN KEY (course_id) REFERENCES Courses(id)
            );''')

print("Таблицы успешно созданы")

#Модуль 8 уровень 2

conn.execute("INSERT INTO Courses (id, name, time_start, time_end) VALUES (1, 'python', '21.07.21', '21.08.21');")
conn.execute("INSERT INTO Courses (id, name, time_start, time_end) VALUES (2, 'java', '13.07.21', '16.08.21');")

conn.execute("INSERT INTO Students (id, name, surname, age, city) VALUES (1, 'Max', 'Brooks', 24, 'Spb');")
conn.execute("INSERT INTO Students (id, name, surname, age, city) VALUES (2, 'John', 'Stones', 15, 'Spb');")
conn.execute("INSERT INTO Students (id, name, surname, age, city) VALUES (3, 'Andy', 'Wings', 45, 'Manhester');")
conn.execute("INSERT INTO Students (id, name, surname, age, city) VALUES (4, 'Kate', 'Brooks', 34, 'Spb');")

conn.execute("INSERT INTO Student_courses (student_id, course_id) VALUES (1, 1);")
conn.execute("INSERT INTO Student_courses (student_id, course_id) VALUES (2, 1);")
conn.execute("INSERT INTO Student_courses (student_id, course_id) VALUES (3, 1);")
conn.execute("INSERT INTO Student_courses (student_id, course_id) VALUES (4, 2);")

# Сохранение изменений
conn.commit()

# Запросы к базе данных
# 1. Всех студентов старше 30 лет.
query_1 = """
SELECT * FROM Students WHERE age > 30;
"""

# 2. Всех студентов, которые проходят курс по python.
query_2 = """
SELECT Students.name, Students.surname, Courses.name FROM Students
INNER JOIN Student_courses ON Students.id = Student_courses.student_id
INNER JOIN Courses ON Student_courses.course_id = Courses.id
WHERE Courses.name = 'python';
"""

# 3. Всех студентов, которые проходят курс по python и из Spb.
query_3 = """
SELECT Students.name, Students.surname, Students.city, Courses.name FROM Students
INNER JOIN Student_courses ON Students.id = Student_courses.student_id
INNER JOIN Courses ON Student_courses.course_id = Courses.id
WHERE Courses.name = 'python' AND Students.city = 'Spb';
"""

# Выполнение запросов
result_1 = conn.execute(query_1)
result_2 = conn.execute(query_2)
result_3 = conn.execute(query_3)

# Вывод результатов
print("Студенты старше 30 лет:")
for row in result_1:
    print(row)

print("\nСтуденты, проходящие курс по python:")
for row in result_2:
    print(row)

print("\nСтуденты, проходящие курс по python и из Spb:")
for row in result_3:
    print(row)

Таблицы успешно созданы
Студенты старше 30 лет:
(3, 'Andy', 'Wings', 45, 'Manhester')
(4, 'Kate', 'Brooks', 34, 'Spb')

Студенты, проходящие курс по python:
('Max', 'Brooks', 'python')
('John', 'Stones', 'python')
('Andy', 'Wings', 'python')

Студенты, проходящие курс по python и из Spb:
('Max', 'Brooks', 'Spb', 'python')
('John', 'Stones', 'Spb', 'python')

In [1]:
#Модуль 8 уровень 3
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship
from sqlalchemy.ext.declarative import declarative_base

engine = create_engine('sqlite:///students_courses.db')
Session = sessionmaker(bind=engine)
Base = declarative_base()

class Student(Base):
    __tablename__ = 'Students'

    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=False)
    surname = Column(String, nullable=False)
    age = Column(Integer, nullable=False)
    city = Column(String, nullable=False)

    courses = relationship("Course", secondary="student_courses")

    def __repr__(self):
        return f"<Student(name='{self.name}', surname='{self.surname}', age='{self.age}', city='{self.city}')>"
    
    def get_students_over_30():
        session = Session()
        students = session.query(Student).filter(Student.age > 30).all()
        session.close()
        return students

    def get_students_on_python_course():
        session = Session()
        students = session.query(Student).join(Student.courses).filter(Course.name == 'python').all()
        session.close()
        return students

    def get_students_on_python_course_in_spb():
        session = Session()
        students = session.query(Student).join(Student.courses).filter(Course.name == 'python', Student.city == 'Spb').all()
        session.close()
        return students

C:\Users\steba\AppData\Local\Temp\ipykernel_10628\1712991885.py:8: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()